/* code adapted from hostinger.com */

body {
    font-family: Trebuchet MS, serif, Arial, Helvetica, sans-serif;
    background-color:bisque;
    color:darkolivegreen;
}

h1 {
    color:olivedrab;
}

p {
    color:black;
}

.left-offset {
    margin-left: 30%;
}

/* .course_list {
    background-color: #fff;
    border: 1px solid #e5e5ea;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-family: "SanFrancisco";
    font-size: 1.25rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.5rem 1.5rem;
} */

.dropbtn {
    background-color:crimson;
    color:white;
    font-stretch: expanded;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color:lightgrey;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color:brown;} 

/* .row {
    display:flex;
}
  
.column {
    flex: 25%;
    padding: 5px;
} */