body {
    color: #443c33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Urbanist', sans-serif;
    background-image: url("https://www.commonapp.org/static/66f3783a4c5c2ebcdea0fa274a6c5388/university-illinois-urbana-champaign_1165.jpg");
}
  
.card {
  background: #ffd39aea;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: #ac9470ea;
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 5em;
    width: 5em;
    outline: none;
    
}

input.search-bar {
    background: #fffab2ea;
    border: none;
    outline: none;
    padding: 0.8em;
    border-radius: 18px;
    width: 100%;
}

.description {
    text-transform: capitalize;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color:crimson;
    color:white;
    font-stretch: expanded;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color:lightgrey;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color:brown;} 
